/*formatação da página*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 8.125rem;
}

body {
    overflow-x: hidden;
}

.color-blue {
    color: #2f86d6;
}
/*menu de navegação*/

.header {
    width: 100vw;
    height: 8.125rem;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.nav-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}
.logo-container img {
    width: 5rem;
}

 
.text-logo-container h1,
.text-logo-container p{
    font-weight: bold;
}

.menu-nav-items {
    list-style: none;
    display: flex;
    gap: 1.875rem;
}
.menu-nav-items li a {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}
.menu-nav-items li a:hover {
    color: #2f86d6;
}

/*seção de banner*/

.section-banner {
    height: 100vh;
}

.banner-background-container {
    height: 100%;
    background-color: #2f86d6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

.text-banner-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 8.75rem;
}
.text-banner-container h2 {
    width: 90%;
    font-size: 1.875rem;
    color: white;
} 
.text-banner-container p {
    color: white;
}

.image-banner-container {
    margin-top: 8.75rem;
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
	0%,100%{
		transform:translatey(0);
	}
	50%{
		transform:translatey(-30px);
	}
}

/*container do primeiro anúncio*/

.announcement-container {
    height: 9.375rem;
    background-color: #223a51;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-announcement-container {
    display: flex;
    flex-direction: column;
    gap: 0.438rem;
}
.text-announcement-container h2,
.text-announcement-container p {
    color: white;
}

.announcement-container a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 1.25rem 3.125rem;
    background-color: #2f86d6;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 0.938rem;
    transition: all 0.3s;
}
.announcement-container a:hover {
    border: 1px solid white;
}

/*seção de informações*/

.section-informations {
    height: 80vh;
}

.informations-background-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations-title-container {
    width: 55%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informations-title-container h2 {
    font-size: 1.875rem;
    text-align: center;
}

.informations-items-container {
    width: 75%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.938rem;
}
.information-item img {
    width: 6.25rem;
}
.information-item p {
    text-align: center;
}

/*seção de planos*/

.section-plans {
    width: 100%;
    height: 100vh;
    background-color: #f1f3f7;
}

.plans-title-container {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plans-title-container h2 {
    width: 40%;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    border: 2px solid #f6f6f6;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 20px 1px #2f86d6;
}

.table th {
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid transparent;
    text-align: center;
    padding-top: 0.938rem;
}
.table td {
    font-size: 0.938rem;
    border-top: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    text-align: center;
    padding: 0.938rem 1.875rem;
}

.table tbody tr:nth-child(even) {
    background-color: #f6f6f6;
    transition: all 0.3s;
}
.table tbody tr:nth-child(even):hover {
    background-color: #eae8e8;
    cursor: pointer;
}

.image-table th img {
    width: 5.625rem;   
}

.legend-table td {
    font-size: small;
    color: #a89f9f;
    border-top: 2px solid transparent;
    width: 12.5rem;
}

/* container do segundo anúncio */

.announcement-container-two {
    height: 9.375rem;
    background-color: #2f86d6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.text-announcement-container-two h2 {
    color: white;
}

.announcement-container-two a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 1.25rem 3.125rem;
    background-color: #223a51;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 0.938rem;
    transition: all 0.3s;
}
.announcement-container-two a:hover {
    border: 1px solid white;
}

/*rodapé da página*/

.footer {
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.informations-footer {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.informations-footer
.contact-items {
    list-style: none;
    line-height: 1.875rem;
}
.informations-footer
.contact-items li {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.copyright-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #f1f3f7;
}

/*Aplicação de media queries (320px - 425px)*/

@media screen and (min-width: 320px) and (max-width: 528px) {

    body {
        overflow-x: hidden;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .nav-container
    .logo-container img {
        width: 60px;
    }

    .nav-container
    .text-logo-container h1{
        font-size: 16px;
    }
    .nav-container
    .text-logo-container p {
        font-size: 12px;
    }

    .nav-container
    .menu-nav-items li a {
        font-size: 12px;
    }

    .banner-background-container
    .text-banner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .banner-background-container
    .text-banner-container h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }
    .banner-background-container
    .text-banner-container p {
        text-align: center;
        width: 80%;
    }

    .banner-background-container
    .image-banner-container {
        display: none;
    }

    .announcement-container {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .announcement-container
    .text-announcement-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .announcement-container
    .text-announcement-container h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }
    .announcement-container
    .text-announcement-container p {
        font-size: 12px;
        text-align: center;
    }

    .announcement-container a {
        font-size: 12px;
    }

    .section-informations {
        height: 150vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        
    }
    .informations-background-container
    .informations-title-container {
        width: 100%;
        height: 20%;
    }
    .informations-background-container
    .informations-title-container h2 {
        width: 80%;
        font-size: 20px;
    }

    .section-informations
    .informations-items-container {
        width: 100%;
        height: 75%;  
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 40px;
    }
    .section-informations
    .informations-items-container
    .information-item {
        width: 80%;
    }

    .section-plans {
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-plans
    .plans-title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .section-plans
    .plans-title-container h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }

    .section-plans
    .table-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-plans
    .table {
        width: 80%;
    }
    .section-plans
    .table th {
        font-size: 10px;
    }
    .section-plans
    .table td {
        font-size: 0.7rem;
        padding: 0.938rem 0.5rem;
    }

    .section-plans
    .image-table th img {
        width: 3rem;   
    }
    .section-plans
    .legend-table td {
        font-size: 10px; 
    }

    .announcement-container-two {
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .announcement-container-two
    .text-announcement-container-two {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .announcement-container-two
    .text-announcement-container-two h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }

    .announcement-container-two a {
        font-size: 12px;
    }


    .footer 
    .informations-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.8rem;
    }
    .footer 
    .informations-footer
    .logo-container img {
        width: 60px;
    }

    .footer 
    .informations-footer
    .text-logo-container h1{
        font-size: 16px;
    }
    .footer 
    .informations-footer
    .text-logo-container p {
        font-size: 12px;
    }

    .footer 
    .informations-footer
    .contact-items {
        width: 80%;
    }

    .footer 
    .copyright-container {
        width: 100%;
        height: 25vh;
    }

    .footer 
    .copyright-container p {
        width: 80%;
        font-size: 15px;
        text-align: center;
    }
    

}


/*Aplicação de media queries (320px - 425px)*/

@media screen and (min-width: 529px) and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .header {
        height: 22vh;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .nav-container
    .logo-container img {
        width: 80px;
    }

    .nav-container
    .text-logo-container h1{
        font-size: 25px;
    }
    .nav-container
    .text-logo-container p {
        font-size: 16px;
    }

    .nav-container
    .menu-nav-items li a {
        font-size: 16px;
        margin: 0 2rem;
    }

    .section-banner {
        width: 100%;
        height: 80vh;
    }
    .banner-background-container {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .banner-background-container
    .text-banner-container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .banner-background-container
    .text-banner-container h2 {
        font-size: 20px;
        text-align: left;
    }
    .banner-background-container
    .text-banner-container p {
        text-align: left;
    }

    .banner-background-container
    .image-banner-container img {
        width: 350px;
    }

    .announcement-container {
        height: 20vh;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 2rem;
    }
    .announcement-container
    .text-announcement-container {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .announcement-container
    .text-announcement-container h2 {
        font-size: 20px;
        text-align: left;
    }
    .announcement-container
    .text-announcement-container p {
        font-size: 16px;
        text-align: left;
    }

    .announcement-container a {
        font-size: 16px;
        padding: 20px 25px ;
    }

    .section-informations {
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        
    }
    .informations-background-container
    .informations-title-container {
        width: 100%;
        height: 20%;
    }
    .informations-background-container
    .informations-title-container h2 {
        width: 80%;
        font-size: 20px;
    }

    .section-informations
    .informations-items-container {
        width: 100%;
        height: 75%;  
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 40px;
    }
    .section-informations
    .informations-items-container
    .information-item {
        width: 80%;
    }

    .section-plans {
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-plans
    .plans-title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .section-plans
    .plans-title-container h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }

    .section-plans
    .table-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-plans
    .table {
        width: 80%;
    }
    .section-plans
    .table th {
        font-size: 10px;
    }
    .section-plans
    .table td {
        font-size: 0.7rem;
        padding: 0.938rem 0.5rem;
    }

    .section-plans
    .image-table th img {
        width: 3rem;   
    }
    .section-plans
    .legend-table td {
        font-size: 10px; 
    }

    .announcement-container-two {
        height: 20vh;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 2rem;
    }
    .announcement-container-two
    .text-announcement-container-two {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .announcement-container-two
    .text-announcement-container-two h2 {
        font-size: 20px;
        text-align: left;
    }

    .announcement-container-two a {
        font-size: 16px;
        padding: 20px 25px ;
    }

    .footer {
        height: 60vh;
    }
    .footer 
    .informations-footer {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.8rem;
    }
    .footer
    .logo-container img {
        width: 80px;
    }

    .footer
    .text-logo-container h1{
        font-size: 25px;
    }
    .footer
    .text-logo-container p {
        font-size: 16px;
    }

    .footer 
    .informations-footer
    .contact-items {
        width: 80%;
    }

    .footer 
    .informations-footer
    .contact-items li {
        font-size: 20px;
    }

    .footer 
    .copyright-container {
        width: 100%;
        height: 20vh;
    }

    .footer 
    .copyright-container p {
        width: 70%;
        font-size: 20px;
        text-align: center;
    }
    

}